{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">

                <h2>Forwarded <b>Phone Numbers </b>  <button type="button"  class="btn btn-success float-right"
                                                      data-toggle="modal" data-target="#mymodal">Add New PhoneNumber</button> </h2>


                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                    {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>

                        <th>ID</th>
                        <th>Number</th>
                        <th>Forward Number</th>
                        <th>Tag</th>

                    </tr>

                    <tr>
                        <td>1</td>
                        <td>+198351421432</td>
                        <td>+123812391784</td>
                        <td>Craigslsit</td>
                        <td>
                            <a href="update" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                            <a href="delete" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure You Want To Delete ?')">Delete</a>
                        </td>
                    </tr>

                    {% for row in phone_numbers %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.purchasedNumber}}</td>
                        <td>{{row.forwardNumber}}</td>
                        <td>{{row.tag}}</td>


                        <td>
                            <a href="update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                            <a href="delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure You Want To Delete ?')">Delete</a>
                        </td>

                    </tr>


                    <!-- Modal Edit Phone Numbers-->
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">


                            <div class="modal-content">


                                <div class="modal-header">


                                    <h4 class="modal-title">Update Information</h4>


                                </div>


                                <div class="modal-body">


                                    <form action="{{url_for('update')}}" method="POST">


                                        <div class="form-group">


                                            <label>purchasedNumber:</label>
                                            <input type="hidden"  name="id" value="{{row.id}}">

                                            <input type="hidden" class="form-control" name="purchasedNumber" value="{{row.name}}">


                                        </div>



                                        <div class="form-group">


                                            <label>forwardNumber:</label>

                                            <input type="text" class="form-control" name="forwardNumber" value="{{row.email}}">


                                        </div>


                                        <div class="form-group">


                                            <label>Tag:</label>

                                            <input type="text" class="form-control" name="tag" value="{{row.phone}}">


                                        </div>


                                        <div class="form-group">


                                            <button class="btn btn-primary" type="submit">Update</button>


                                        </div>


                                    </form>


                                </div>


                                <div class="modal-footer">


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                </div>


                            </div>


                        </div>

                    </div>


                    {% endfor %}


                </table>


            </div>



            <!-- Modal Add PhoneNumber-->


            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">Add Number</h4>
                        </div>
                        <div class="modal-body">

                            <form action="{{url_for('acquire')}}" method="POST">


                                <div class="form-group">

                                    <label>What City?</label>
                                    <input type="text" class="form-control" name="city" required="1">


                                </div>


                                <div class="form-group">


                                    <label>What State?</label>
                                    <input type="text" class="form-control" name="state" required="1">


                                </div>


                                <div class="form-group">


                                    <label>Number to Forward to?</label>
                                    <input type="number" class="form-control" name="forward_number" required="1">


                                </div>

                                <div class="form-group">


                                    <label>Tag:</label>
                                    <input type="text" class="form-control" name="tag" required="1">


                                </div>




                                <div class="form-group">


                                    <button class="btn btn-primary" type="submit">Add Number</button>


                                </div>


                            </form>


                        </div>


                        <div class="modal-footer">


                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                        </div>


                    </div>


                </div>


            </div>





        </div>

    </div>


</div>


{% endblock %}
