[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telnyx = "*"
flask = "*"
python-dotenv = "*"
flask-modus = "*"
peewee = "*"
pymysql = "*"
werkzeug = "==0.16.1"

[dev-packages]

[requires]
python_version = "3.9"
